.item {
  border: 1px solid gray;
  border-bottom: 40px;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.info {
    padding: 30px;
}

.info h2 {
    margin-bottom:  10px;
}

.button {
  margin-top: 10px;
}